/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MEDIA Query for iPhone X */

@media (min-width: 375px), (max-width: 812px) {

  body {
    font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(16, 39, 112)
  }

  /* HOME PAGE */

  /* Header */
  .header-home {
    height: 250px;
  }
  .home-logo {
    max-width: 40%;
    margin-left: 111px;
    margin-top: 47px;
  }

  /* Main */
  .home-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mars-title {
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(233,234,218);
  }

  .mars-text {
    color: rgb(216,193,107);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 19px;
    letter-spacing: 2px;
  }

    /* Buttons */
  .home-buttons {
    padding-top: 20%;
  }

  .signup-button-home {
    margin-bottom: 30px;
  }

  /* Footer */
  .home-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 180px;
    text-align: center;
    color: orange
  }
  
/* SIGN UP PAGE*/

.logo-signup {
  max-width: 32%;
  height: auto;
  margin-left: 33%;
  margin-top: 7%;
}

.signup-title {
  margin-left: 35%;
  font-size: 34px;
  margin-top: 10%;
  color: rgb(233,234,218);
}

#form-signup {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(216,193,107);
  font-size: 19px;
  letter-spacing: 1px;
}

#file-form {
  margin-left: 100px;
}

#create-your-account-button {
  margin-top: 55px;
}

.account-message-signup {
  margin-top: 58px;
  color: orange;
}

.login-link {
  color: white;
}

/* LOGIN PAGE*/

.logo-login {
  max-width: 32%;
  height: auto;
  margin-left: 33%;
  margin-top: 7%;
}

.login-title {
  margin-left: 38%;
  font-size: 34px;
  margin-top: 10%;
  color: rgb(233,234,218);
}

#form-login {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(216,193,107);
  font-size: 19px;
  letter-spacing: 1px;
}

.login-button {
  margin-top: 32px;
}

.signup-link {
  color:white;
}

.account-message-login {
  margin-top: 118px;
  color: orange;
}



/* Header of all private routes */

.header {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

header p {
  color: rgb(216,193,107);
  margin-top: 12px;
}
/* image logo */

.logoImage {
  max-width: 34%;
  height: auto;
  top: 22px;
}
.margin-profile-p {
  text-align: center;
  margin-left: 90px;
  letter-spacing: 1px;
  font-size: 18px;
}


.profileImage {
  max-width: 73%;
  height: auto;
  margin-top: 14px;
  /* We need to define  a cercle form to the image */
}

/* Footer of all private routes*/
.private-ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 139%;
  text-align: center;
}

.textColor {
  color:#F0FFFF;
}